.create-table {
    background-color: #a892ee;
    height: 350px;
    display: flex;
    padding: 2rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 80%;
  }
    
  table {
    width: 800px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }